.about {
    width: 100%;
    padding: 25px 22px;
}

.container {    
    display: flex;
    justify-content: space-between;
    margin-top: 2em;
}

.subtitle {
    font-size: 1.25em;
    text-align: center;
}

.info {
    min-width: 45%;
    max-width: 45%;
    padding: 1rem;

    background: var(--bg);
    border-radius: 8px;
}