.workers {
  width: 100%;
  padding: 25px 22px;
}

.list {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: space-between;

  margin-top: 24px;
}

.worker {
  overflow: hidden;

  min-width: 350px;
  max-width: 350px;
  padding: 1rem;

  background: var(--bg);
  border-radius: 8px;
}

.worker:nth-child(5n) {
  width: calc(100% / 5);
}

.user {
  display: flex;
}

.avatar {
  width: 90px;
  height: 90px;
}

.avatar img {
  width: 100%;
  height: 100%;

  object-fit: cover;
  object-position: center;
  border-radius: 50%;

  image-rendering: auto;
}

.user_info {
  margin-left: 1.5em;
}

.name {
  font-size: 15px;
  font-weight: 600;
  line-height: 18px;
}

.category {
  margin-top: 1rem;
  background-color: var(--violet);
  border-radius: 5px;
}