.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;

    margin-top: 20px;
    padding: 24px;
}

.logo {
    width: 61px;
}

.logo a {
    height: 100%;
}

.rights {
    font-size: 12px;
    line-height: 15px;
    color: var(--dark-sea);
}
  
.rights a {
    color: var(--violet);
}

.socials {
    display: flex;
    gap: 15px;
  }
  
.socials svg {
    width: 24px;
    height: 24px;
    fill: var(--dark-sea);
}
  
.socials svg:hover {
    fill: var(--violet);
}

.link {
    font-size: 14px;
    line-height: 17px;
    color: var(--dark-sea);
}
  
.link:hover {
    color: var(--white);
}
  
.link.active {
    color: var(--violet);
}