* {
  box-sizing: border-box;
  margin: 0
}

body {
  overflow-x: hidden;

  margin: 0;
  padding: 0;
  padding-bottom: 20px;

  font-family: Montserrat, Roboto, sans-serif;
  font-size: 16px;
  font-weight: 500;
  line-height: 16px;
  color: #fff;

  background: var(--bg);
}


h1,
h2,
h3,
h4,
h5,
h6,
p {
  padding: 0;
  font-size: 16px;
  line-height: 24px;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: #fff;
  text-decoration: none;
}

ul,
li {
  padding: 0;
  list-style: none;
}

.app {
  width: 1274px;
  margin: 0 auto;
}


.icon {
  width: 12px;
  height: 12px;
}
