.header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 25px 20px;
}

.logo {
    width: 300px;
}

.info {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
}

.user {
    cursor: pointer;
    display: flex;
    column-gap: 10px;
    align-items: center;
}
