.header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 25px 20px;
}

.logo {
    width: 100px;
}

.info {
    display: flex;
    flex-grow: 1;
    align-items: center;
    justify-content: space-between;
}

.user {
    cursor: pointer;
    display: flex;
    column-gap: 10px;
    align-items: center;
}

.avatar {
    width: 36px;
    height: 36px;

    background: var(--dark);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
}

.username {
    font-size: 10px;
    line-height: 12px;
    color: var(--grey);
}

.form {
    position: relative;

    display: flex;
    column-gap: 16px;
    align-items: center;

    width: 300px;
    height: 27px;
    padding: 7px 10px;

    background: var(--dark);
    border-radius: 6px;
}

.icon {
    width: 13px;
    height: 13px;
}
  
.icon svg {
    width: 100%;
    height: 100%;
    fill: var(--dark-sea);
}
  
.input {
    flex-grow: 1;
  }
  
.input input {
    width: 100%;

    font-family: Montserrat, Roboto, sans-serif;
    font-size: 12px;
    line-height: 14px;
    color: var(--grey);

    background: none;
    outline: none;
  }