.container {
    max-width: 980px;
    margin: 0 auto;
    margin-top: 50px;
}

.header h1 {
    font-size: 38px;
    font-weight: 700;
    line-height: 51px;
}

.orders {
    max-width: 700px;
    margin-top: 50px;
    border-radius: 10px;
}

.order {
    width: 100%;
    min-height: 150px;
    max-height: 150px;
}