.container {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;

  width: 100%;
  margin-top: 50px;
}

.orders_container {
  width: 65%;
  padding: 30px 25px;
}

.header h1 {
  font-size: 38px;
  font-weight: 700;
  line-height: 51px;
}

.orders {
  margin-top: 20px;
  border-radius: 10px;
}

.order {
  display: flex;

  width: 100%;
  min-height: 150px;
  max-height: 150px;
  margin-top: 20px;

  border: 1px solid rgb(71 70 70);
  border-radius: 15px;
  box-shadow: 0 5px 10px 2px rgb(71 70 70 / 20%) inset;
}

.info {
  display: flex;
  flex-direction: column;
  width: 70%;
  margin: 25px 0 0 25px;
}

.order_title {
  display: inline-block;
  color: var(--grey);
  text-align: left;
}

.order_title:hover {
  color: var(--white);
}

.description {
  margin-top: 15px;
  line-height: 20px;
}

.config {
  display: flex;
  flex-direction: column;
  min-width: 400px;
  padding: 20px 30px;
}

.config_header {
  font-size: 20px;
  text-align: center;
}

.select {
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-top: 15px;
  padding: 5px;

  background-color: var(--sea);
  border-radius: 10px;
}

.input {
  cursor: pointer;
  padding: 5px;
  font-weight: 500;
  color: var(--dark);
}

.arrow {
  margin: 3px 10px 0 0;
  color: var(--dark);
}

.config_categories {
  position: relative;
}

.categories_list {
  position: absolute;
  z-index: 9;

  overflow-y: auto;

  width: 100%;
  max-height: 200px;
  padding: 10px;

  background-color: var(--sea);
  border-radius: 5px;
}

.category_option {
  cursor: pointer;
  padding: 10px 5px;
  color: var(--dark);
}

.category_option:hover {
  color: var(--light);
  background-color: var(--dark);
}

.config_food {
  margin: 50px 0 30px;
}

.config_confirm {
  display: flex;
  justify-content: space-around;
  padding-bottom: 10px;
}
