.poster {
  position: relative;
  flex-grow: 1;
  margin-left: 30px;
}

.title {
  font-size: 4em;
  font-weight: 900;
  line-height: 145px;
  color: var(--bg);
  text-align: center;
  text-transform: uppercase;
}

.image {
  position: relative;
  flex-grow: 1;
  height: 250px;
}

.image img {
  position: absolute;
  right: 10%;
  bottom: -15%;
  max-width: unset;
}
