.sidebar {
    display: flex;
    flex-direction: column;

    width: 304px;
    height: 423px;
    padding: 24px;
}

.title {
    font-weight: 600;
    line-height: 20px;
}

.menu {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin-top: 32px;
}


.footer {
    display: flex;
    justify-content: space-between;
    margin-top: auto;
}