.sidebar {
    display: flex;
    flex-direction: column;

    width: 404px;
    height: 433px;
    padding: 24px;
}

.title {
    font-weight: 600;
    line-height: 20px;
}

.menu {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    margin-top: 32px;
}

.link {
    font-size: 14px;
    line-height: 17px;
    color: var(--dark-sea);
}
  
.link:hover {
    color: var(--white);
}
  
.link.active {
    color: var(--violet);
}